
<!DOCTYPE html>
<html>
<head>
    <title>Black-Scholes Option Calculator</title>
    <link rel="stylesheet" href="/static/index.css" />
    <script src="/static/index.js" defer></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Black-Scholes Option Calculator</h1>
<form id="inputs">
    <label for="r">Risk-free rate (%/year):</label>
    <input type="text" name="r" value="3"><br>
    <label for="S">Stock price ($):</label>
    <input type="text" name="S" value="120"><br>
    <label for="K">Strike price ($):</label>
    <input type="text" name="K" value="100"><br>
    <label for="T">Time to maturity (years):</label>
    <input type="text" name="T" value="4"><br>
    <label for="volatility">Volatility (%):</label>
    <input type="text" name="volatility" value="14"><br>
    <select name="model">
        <option value="black-scholes">Black-Scholes</option>
        <option value="monte-carlo">Monte-Carlo</option>
    </select>
    <button id="calculate" type="button">Calculate</button>
</form>


<div id="output" class="hidden">
    <h2>Option Prices:</h2>
    <p>Call option price: <span id="call"></span></p>
    <p>Put option price: <span id="put"></span></p>
</div>

<div id="graph"></div>
</body>
</html>
