<!DOCTYPE html>
<html lang="en">
<head>
    <title>Black-Scholes Option Calculator</title>

    <link rel="shortcut icon" href="/static/favicon.ico">

    <link rel="stylesheet" href="/static/index.css"/>
    <script src="/static/index.js" defer></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Black-Scholes Option Calculator</h1>
<h3><a href="/heston">Link to Heston Calculator</a></h3>
<form id="inputs">
    <label>Risk-free rate (%/year):
        <input type="text" name="rate" value="3"><br>
    </label>
    <label>Stock Price ($):
        <input type="text" name="stock" value="120"><br>
    </label>
    <label>Strike price ($):
        <input type="text" name="strike" value="100"><br>
    </label>
    <label>Time to maturity (years):
        <input type="text" name="maturity" value="4"><br>
    </label>
    <label>Volatility (%):
        <input type="text" name="volatility" value="14"><br>
    </label>
    <label>
        <select name="model">
            <option value="black-scholes">Black-Scholes (Implied Volatility)</option>
            <option value="monte-carlo">Monte-Carlo (Implied Volatility)</option>
        </select>
        <button id="calculate" type="button">Calculate</button>
    </label>
</form>


<div id="output" class="hidden">
    <h2>Option Prices:</h2>
    <p>Call option price: <span id="call"></span></p>
    <p>Put option price: <span id="put"></span></p>
</div>

<div id="graph" class="hidden"></div>
</body>
</html>
